.menu { 
    background-color: #aaa;
    padding: 15px;
    height: 300px;
}

 @media (max-width: 991px) {
    .menu {
        margin: 5px 0 30px 0;
    }
}

@media(min-width: 992px)
{
    .menu{height:400px;}
}